body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-y: scroll;
    background:url(./images/tail-middle.jpg) repeat-y center 250px;
    width: 100%;
    height: 750px;
}

h1{
    text-align: center;
}

.heading {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.logo2 {
    width: 100px;
    height: 100px;
    margin: 20px 25px 10px 80px;
}
.logo1 {
    width: 100px;
    height: 100px;
    margin: 20px 15px 10px 20px;
}
.box {
    width: 100%;
    display: block;
    padding: 30px;
    position: absolute;
    background: linear-gradient(to right,#7EE8FA,#EEC0C6);
    text-align: center;
    left: 50%;
    top: 50%;
    transition: 0.25s;
    margin-top: 40px;
    margin-bottom: 50px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: #EE224A;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.box h2 {
    color: black;
    font-size: 60px;
    height: 50px;
    font-family:'Sriracha', cursive;
    margin-bottom: 50px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: black;
    background: black;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: black;
}

.forgot {
    text-decoration: underline
}

.text-muted:hover {
    color: blue;
}
.text-muted {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFDD0;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}
@media (max-width: 1000px) {
    .heading {
        font-size: 20px;
    }
    .logo1 {
    width: 80px;
    height: 100px;
    margin: 10px 15px 10px 10px;
}
    .logo2 {
    width: 100px;
    height: 100px;
    margin: 10px 20px 10px 20px;
}
}
